<form [formGroup]="connectorForm" class="h-full w-full min-h-[500px]">
  <table class="table">
    <thead class="w-full">
      <tr>
        <th>
          <label>
            <input type="checkbox" class="checkbox" />
          </label>
        </th>
        <th>Name</th>
        <th>Image</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngFor="let connector of connectorList">
      <tr class="">
        <th>
          <label>
            <input type="checkbox" class="checkbox" />
          </label>
        </th>
        <td>
          <p
            class="w-full p-2 input input-ghost"
            *ngIf="!connector.editingMode"
          >
            {{ connector.type }}
          </p>
          <input
            *ngIf="connector.editingMode"
            type="text"
            class="w-full input input-bordered bg-transparent"
            formControlName="type"
            [ngModel]="connector.type"
          />
        </td>
        <td>
          <!-- <p
            class="w-full p-2 input input-ghost"
            *ngIf="!connector.editingMode"
          >
            {{ connector.imageData }}
          </p> -->
          <img class="w-10 h-10" src="{{ connector.imageData }}" alt="" />
          <input
            *ngIf="connector.editingMode"
            type="text"
            class="w-full input input-bordered bg-transparent"
            formControlName="type"
            [ngModel]="connector.imageData"
          />
        </td>
        <th></th>
        <th></th>
        <td class="flex justify-center mt-2 items-center">
          <div class="flex">
            <button
              (click)="updateConnector(connector.id)"
              *ngIf="connector.editingMode"
              class="material-icons hover:bg-slate-700 p-2 rounded-xl"
            >
              done
            </button>
            <button
              (click)="closeEdit(connector)"
              *ngIf="connector.editingMode"
              class="material-icons hover:bg-slate-700 p-2 rounded-xl"
            >
              close
            </button>
            <button
              (click)="toggleEdit(connector)"
              *ngIf="!connector.editingMode"
              class="btn btn-ghost btn-sm"
            >
              Edit
            </button>
          </div>
          <button
            (click)="deleteConnector(connector.id)"
            class="btn btn-ghost btn-sm"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</form>
