<div class="w-full bg-primary min-h-screen flex justify-start flex-col p-10">
  <div class="h-full flex flex-col p-5">
    <div
      class="border-b mx-5 flex justify-between text-slate-300 border-secondary pb-2 text-3xl font-bold w-full"
    >
      <h1 class="">Station</h1>
      <button (click)="setScreenType()" class="btn mr-10">
        {{ screenType ? "Add station" : "List station" }}
      </button>
    </div>
    <div *ngIf="!screenType" class="flex flex-col justify-center px-5 mt-10">
      <div class="z-40 min-w-[15vw]">
        <app-station-form></app-station-form>
      </div>

      <div class="min-w-[40vw] w-full h-[70vh]">
        <app-map></app-map>
      </div>
    </div>
    <div
      *ngIf="screenType"
      class="flex lg:flex-row flex-col mt-[10vh] lg:justify-between justify-center px-5 w-full h-full"
    >
      <div class="z-40 w-full h-full">
        <app-station-list></app-station-list>
      </div>
    </div>
  </div>
</div>
