<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kullanıcı Profili</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.7/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head> -->
  <style>
  .custom-panel {
    border: 2px solid #f4a142; 
  
    .text {
    color: #4b4b4c; 
    }

    .label-password {
    color: #4e4d4d; /* Etiket rengi mavi */
  }

    .input-text {
    color: rgb(96, 96, 96); 
    }
  }
</style> 
<div class="bg-gray-100">
  <div class="w-4/6 p-4 mx-auto">
    <div>
      <div class="bg-white custom-panel rounded-lg shadow p-4 h-72">
        <div class="flex items-center justify-between">
          <h1 class="text-2xl font-semibold text">Change Password</h1>
        </div>
        <!-- Şifre Sıfırlama Formu -->
        <form (ngSubmit)="resetPassword()">
          <div class="mt-4 ">
            <label for="password" class="label-password">New Password</label> <!-- Rengi değiştirilen etiket -->
            <input
              type="password"
              id="password"
              name="password"
              [(ngModel)]="resetPasswordModel.password"
              class="w-80 border p-2 rounded bg-slate-100 ml-10 input-text"
              required
            />
          </div>
          <div class="mt-4">
            <label for="confirmPassword" class="label-password">Confirm Password</label> <!-- Rengi değiştirilen etiket -->
            <input
              type="password"
              id="confirmPassword"
              name="confirmPassword"
              [(ngModel)]="resetPasswordModel.confirmPassword"
              class="w-80 border p-2 rounded bg-slate-100 ml-4 input-text"
              required
            />
          </div>
          <div class="mt-4">
            <button
              type="submit"
              class="bg-slate-400 text-white px-4 py-2 rounded hover-bg-blue-600 focus:outline-none custom-button"
              *ngIf="!showForgotPasswordButton"
              (click)="resetPassword()"
            >
              Reset Password
            </button>
            <button
              type="button"
              class="bg-slate-400 text-white px-4 py-2 rounded hover-bg-blue-600 focus:outline-none custom-button"
              *ngIf="showForgotPasswordButton"
              (click)="forgotPassword()"
            >
              Forgot Password
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- </body>
</html> -->
