<!-- ! Map -->
<div
  id="viewDiv"
  class="w-full border-none min-h-[500px] h-full absolute top-0 bottom-0"
>
  <!-- ! Search -->
  <div class="absolute top-36 left-[3vw] rounded-xl">
    <app-search
      (searchTexts)="search($event)"
      (stationSelected)="onStationSelected($event)"
    ></app-search>
  </div>
  <div
    class="absolute z-20 top-36 right-[2.5vw] flex flex-col gap-y-2 w-12 h-12"
  >
    <!-- ! ZoomIn button -->
    <button
      class="p-3 w-10 h-10 rounded-lg border-none shadow shadow-black hover:bg-white bg-white flex flex-col justify-center items-center text-center"
      (click)="zoomIn()"
    >
      <!-- on hover show text -->
      <img
        src="../../../assets/zoom-in.svg"
        alt="zoom-in"
        class="w-full h-full object-cover"
      />
      <p class="text-[8px] w-10 text-black">Zoom In</p>
    </button>

    <!-- ! ZoomOut button -->
    <button
      class="p-3 w-10 h-10 rounded-lg border-none shadow shadow-black hover:bg-white bg-white flex flex-col justify-center items-center text-center"
      (click)="zoomOut()"
    >
      <img
        src="../../../assets/zoom-out.svg"
        alt="zoom-out"
        class="w-full h-full object-cover"
      />
      <p class="text-[8px] w-10 text-black">Zoom Out</p>
    </button>

    <!-- ! Locate button -->
    <button
      class="p-3 w-10 h-10 rounded-lg border-none shadow shadow-black hover:bg-white bg-white flex flex-col justify-center items-center text-center"
      (click)="locateS()"
    >
      <img
        src="../../../assets/target.svg"
        alt="target"
        class="w-full h-full object-cover"
      />
      <p class="text-[8px] w-10 text-black">Locate</p>
    </button>
    <button
      class="p-3 w-10 h-10 rounded-lg border-none shadow shadow-black hover:bg-white bg-white flex flex-col justify-center items-center text-center"
      (click)="findNearestStations()"
    >
      <img
        src="../../../assets/target.svg"
        alt="target"
        class="w-full h-full object-cover"
      />
      <p class="text-[8px] w-10 text-black">Nearest</p>
    </button>

    <!-- ! Change Layer button -->
    <button
      class="p-3 w-10 h-10 rounded-lg border-none shadow shadow-black hover:bg-white bg-white flex flex-col justify-center items-center text-center"
    >
      <img
        src="../../../assets/layer.svg"
        alt="target"
        class="w-full h-full object-cover"
      />
      <p class="text-[8px] w-10 text-black">Layers</p>
      <ul class="absolute right-12 gap-y-2 flex top-48 flex-col px-1">
        <button
          class="asd rounded-xl border-black border bg-white p-2 h-full gap-y-2 bcd"
        >
          <li
            *ngFor="let basemap of basemapss; let i = index"
            (click)="changeLayer(basemap)"
            (keydown)="changeLayer(basemap)"
            [class.active]="i === currentBasemapIndex"
            class="btn flex flex-col bg-white hover:bg-white mb-2 text-black"
            tabindex="0"
          >
            {{ basemap.title }}
          </li>

          <!-- <li class="btn bg-white hover:bg-white text-black mt-2">Street</li>
          <li class="btn bg-white hover:bg-white text-black mt-2">Street</li>
          <li class="btn bg-white hover:bg-white text-black mt-2">Street</li> -->
        </button>
      </ul>
    </button>
  </div>
</div>
