<form [formGroup]="forgotPasswordForm" class="mt-40">
  <div class="relative flex flex-col justify-center overflow-hidden">
    <div
      class="w-full p-6 m-auto bg-white rounded-md shadow-md ring-2 ring-gray-800/50 lg:max-w-xl">
      <h1 class="text-3xl font-semibold text-center text-gray-700">Reset Password</h1>
      <div form="space-y-4">
        <div>
          <label for="email" class="label">
            <span class="text-base label-text">Password</span>
          </label>
          <input
            type="password"
            placeholder="Enter Password"
            class="w-full input input-bordered"
            formControlName="password"
          />
        </div>        
        <div>
          <label for="password" class="label">
            <span class="text-base label-text">Confirm Password</span>
          </label>
          <input
            type="password"
            placeholder="Enter Confirm Password"
            class="w-full input input-bordered"
            formControlName="password"
          />
        </div>
        <div>
          <!-- <button class="btn w-full mt-3 bg-white" (click)="login()">Login</button> -->
        </div>
         <div>
          <button class="btn w-full mt-3 bg-white" (click)="resetPassword()" >Reset Password</button>
        </div>
      </div>
    </div>
  </div>
</form>



