<form [formGroup]="updateProfile" *ngIf="adminInfo" class="bg-primary">
  <div class="mx-10">
    <div class="mb-8">
      <h2 class="text-2xl font-semibold mb-4">Edit Profile</h2>
      <div class="grid grid-cols-2 gap-4">
        <div>
          <label for="name" class="block ml-2 text-sm font-medium text-gray-600"
            >Name</label
          >
          <p
            *ngIf="!isEdited"
            class="mt-1 p-2 pt-3 w-full input border rounded-md input-disabled"
          >
            {{ adminInfo.name }}
          </p>
          <input
            *ngIf="isEdited"
            type="text"
            id="name"
            name="name"
            class="mt-1 p-2 w-full input input-bordered rounded-md"
            formControlName="name"
            [(ngModel)]="adminInfo.name"
          />
        </div>
        <div>
          <label for="name" class="block ml-2 text-sm font-medium text-gray-600"
            >Surname</label
          >
          <p
            *ngIf="!isEdited"
            class="mt-1 p-2 pt-3 w-full input border rounded-md input-disabled"
          >
            {{ adminInfo.surname }}
          </p>
          <input
            *ngIf="isEdited"
            type="text"
            id="surname"
            name="surname"
            class="mt-1 p-2 w-full input input-bordered rounded-md"
            formControlName="surname"
            [(ngModel)]="adminInfo.surname"
          />
        </div>
      </div>
      <div class="mt-4">
        <label for="email" class="block ml-2 text-sm font-medium text-gray-600"
          >Email</label
        >
        <p class="mt-1 p-2 pt-3 w-full input border rounded-md input-disabled">
          {{ adminInfo.email }}
        </p>
        <!-- <input
            type="email"
            *ngIf="isEdited"
            id="email"
            name="email"
            class="mt-1 p-2 w-full input input-bordered rounded-md"
            formControlName="email"
            [(ngModel)]="adminInfo.email"
          /> -->
      </div>
    </div>
    <div class="flex justify-end flex-row gap-x-3 w-full">
      <button
        (click)="editProfile(adminInfo.id)"
        type="submit"
        class="btn bg-primary border-secondary"
      >
        {{ isEdited ? "Update Profile" : "Edit Profile" }}
      </button>
      <button
        (click)="createResetToken()"
        class="btn bg-primary border-secondary"
        onclick="my_modal_5.showModal()"
      >
        Change Password
      </button>
      <button class="btn bg-primary border-secondary">Delete Account</button>
    </div>
  </div>
</form>

<app-change-password></app-change-password>
