<form
  [formGroup]="socketUpdteForm"
  class="h-full w-full min-h-[500px] bg-primary"
>
  <table class="table">
    <thead class="text-lg">
      <tr class="">
        <th></th>
        <th>
          <p class="pl-2">Name</p>
        </th>
        <th>
          <p class="pl-2">Power</p>
        </th>
        <th>
          <p class="pl-2">Current</p>
        </th>
        <th>
          <p class="pl-2">Type</p>
        </th>
        <th>
          <p class="pl-2">Voltage</p>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let socket of socketList" class="text-start">
        <td>
          <label>
            <input type="checkbox" class="checkbox" />
          </label>
        </td>
        <td>
          <p class="w-full p-2 input input-ghost" *ngIf="!socket.editingMode">
            {{ socket.name }}
          </p>
          <input
            *ngIf="socket.editingMode"
            type="text"
            class="w-full input input-bordered bg-transparent"
            formControlName="name"
            [ngModel]="socket.name"
          />
        </td>
        <td>
          <p class="w-full p-2 input input-ghost" *ngIf="!socket.editingMode">
            {{ socket.type }}
          </p>
          <input
            *ngIf="socket.editingMode"
            type="text"
            class="w-full input input-bordered bg-transparent"
            formControlName="type"
            [ngModel]="socket.type"
          />
        </td>
        <td>
          <p class="w-full p-2 input input-ghost" *ngIf="!socket.editingMode">
            {{ socket.power }}
          </p>
          <input
            *ngIf="socket.editingMode"
            type="text"
            class="w-full input input-bordered bg-transparent"
            formControlName="power"
            [ngModel]="socket.power"
          />
        </td>
        <td>
          <p class="w-full p-2 input input-ghost" *ngIf="!socket.editingMode">
            {{ socket.current }}
          </p>
          <input
            *ngIf="socket.editingMode"
            type="text"
            class="w-full input input-bordered bg-transparent"
            formControlName="current"
            [ngModel]="socket.current"
          />
        </td>
        <td>
          <p class="w-full p-2 input input-ghost" *ngIf="!socket.editingMode">
            {{ socket.voltage }}
          </p>
          <input
            *ngIf="socket.editingMode"
            type="text"
            class="w-full input input-bordered bg-transparent"
            formControlName="voltage"
            [ngModel]="socket.voltage"
          />
        </td>
        <td class="flex justify-center mt-2 items-center">
          <div class="flex">
            <button
              (click)="updateSocket(socket.id)"
              *ngIf="socket.editingMode"
              class="material-icons hover:bg-slate-700 p-2 rounded-xl"
            >
              done
            </button>
            <button
              (click)="closeEdit(socket)"
              *ngIf="socket.editingMode"
              class="material-icons hover:bg-slate-700 p-2 rounded-xl"
            >
              close
            </button>
            <button
              (click)="toggleEdit(socket)"
              *ngIf="!socket.editingMode"
              class="btn btn-ghost btn-sm"
            >
              Edit
            </button>
          </div>
          <button class="btn btn-ghost btn-sm">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</form>
