/* styles.css veya styles.scss gibi bir stil dosyasında */
.custom-scrollbar::-webkit-scrollbar {
  width: 1px; /* Kaydırma çubuğunun genişliği */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: grey; /* Kaydırma çubuğu rengini burada belirleyin */
  border-radius: 6px; /* Kaydırma çubuğu yuvarlatılmış köşeleri */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: whitesmoke; /* Kaydırma çubuğu arka plan rengini burada belirleyin */
}

.connector-options {
  max-height: 150px; /* Maksimum yükseklik belirleyin */
  overflow-y: auto; /* Yatay scrollbar'ı otomatik gösterir */
}
.connector-options::-webkit-scrollbar {
  width: 1px; /* Kaydırma çubuğunun genişliği */
}

.connector-options::-webkit-scrollbar-thumb {
  background-color: grey; /* Kaydırma çubuğu rengi */
  border-radius: 6px; /* Kaydırma çubuğu yuvarlatılmış köşeleri */
}

.connector-options::-webkit-scrollbar-track {
  background-color: transparent; /* Kaydırma çubuğu arka plan rengi */
}

.connector-options::-webkit-scrollbar-corner {
  background-color: transparent; /* Kaydırma çubuğu köşesinin arka plan rengi */
}

