<div class="w-full bg-primary flex justify-center flex-col p-10">
  <div class="h-full flex flex-col p-5">
    <div
      class="border-b mx-5 flex justify-between text-white border-sectext-secondary pb-2 text-3xl font-bold w-full"
    >
      <h1 class="">USER PROFILE</h1>
      <button
        class="btn bg-primary border-secondary"
        (click)="viewProfileList()"
      >
        View Profile List
      </button>
    </div>

    <div class="bg-primary">
      <div class="mx-10">
        <div class="mb-8 mt-8">
          <div class="flex flex-row items-center">
            <h2 class="text-2xl font-semibold  text-white">
              User Statistics
            </h2>
            <div class="flex flex-row">
              <div class="ml-4 flex items-center">
                <div
                  class="mr-5 p-2 pt-3 w-10 input border rounded-md input-disabled"
                >
                  {{ numberOfVehicles }}
                </div>
                <div
                  for="totalVehicles"
                  class="block text-sm font-medium text-white"
                >
                  Total Vehicles
                </div>
              </div>
              <div class="ml-4 flex items-center">
                <div
                  class=" mr-5 p-2 pt-3 w-10 input border rounded-md input-disabled"
                >
                  {{ numberOfStations }}
                </div>
                <div
                  for="totalFavoriteStations"
                  class="block text-sm font-medium text-white"
                >
                  Total Favorite Stations
                </div>
              </div>
            </div>
          </div>
          <div class="grid grid-cols-2 gap-4">
            <div>
              <label
                for="name"
                class="block ml-2 text-sm font-medium text-gray-600"
                >Name</label
              >
              <div
                class="mt-1 p-2 pt-3 w-full input border rounded-md input-disabled"
              >
                {{ user?.name }}
              </div>
            </div>
            <div>
              <label
                for="surname"
                class="block ml-2 text-sm font-medium text-gray-600"
                >Surname</label
              >
              <div
                class="mt-1 p-2 pt-3 w-full input border rounded-md input-disabled"
              >
                {{ user?.surname }}
              </div>
            </div>
          </div>
          <div class="mt-4">
            <label
              for="email"
              class="block ml-2 text-sm font-medium text-gray-600"
              >Email</label
            >
            <p
              class="mt-1 p-2 pt-3 w-full input border rounded-md input-disabled"
            >
              {{ user?.email }}
            </p>
          </div>
          <div class="grid grid-cols-2 gap-4 mt-4">
            <!-- Araç Listesi -->
            <div class="col-span-1">
              <label
                for="vehicle"
                class="block text-sm font-medium text-gray-600"
                >Vehicles</label
              >
              <div
                class="mr-16 overflow-auto custom-scrollbar"
                style="max-height: 160px; width: 455px"
              >
                <ng-container
                  *ngFor="let vehicle of vehicleList; let i = index"
                >
                  <div class="vehicle-list-item">
                    <p class="brand">{{ vehicle.brand }}</p>
                    <p class="model">{{ vehicle.model }}</p>
                  </div>
                </ng-container>
              </div>
            </div>
            <!-- Favori İstasyon Listesi -->
            <div class="col-span-1">
              <label
                for="station"
                class="block text-sm font-medium text-gray-600"
                >Favorite Stations</label
              >
              <div
                class="mr-16 overflow-auto custom-scrollbar"
                style="max-height: 160px; width: 455px"
              >
                <ng-container *ngFor="let station of stations; let i = index">
                  <div class="vehicle-list-item">
                    <p class="name">{{ station.name }}</p>
                    <p class="address">{{ station.address }}</p>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
        <div class="flex justify-end flex-row gap-x-3 w-full">
          <button class="btn btn-error" (click)="removeUser()">
            Delete Account
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
