<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kullanıcı Profili</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.7/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head> -->
  <style>
  .custom-panel {
    border: 2px solid #1691d8; 
  
    .text {
    color: #4b4b4c; 
    }

    .field-label {
    color: #4e4d4d; 
    }

    .input-text {
    color: rgb(96, 96, 96); 
    }
  }
</style>
<div class="bg-gray-100">
  <div class="w-4/6 p-4 mx-auto">
    <div class="custom-panel bg-white mb-4 rounded-lg shadow p-4">
      <div class="flex items-center justify-between">
        <h1 class="text-2xl font-semibold text">User Profile</h1>
        <button
          *ngIf="editMode"
          (click)="onSaveClick()"
          class="bg-slate-400 text-white px-2 py-1 rounded hover:bg-blue-600 focus:outline-none"
        >
          Save
        </button>
        <button
          *ngIf="!editMode"
          (click)="onModeChange()"
          class="bg-slate-400 text-white px-2 py-1 rounded hover:bg-blue-600 focus:outline-none"
        >
          Edit
        </button>
      </div>
      <div class="mt-4" *ngIf="user">
        <p>
          <span class="font-semibold field-label">Name: </span>
          <input
            class="bg-white input-text"
            type="text"
            [value]="user.name"
            [(ngModel)]="user.name"
            [disabled]="!editMode"
          />
        </p>
        <p>
          <span class="font-semibold field-label">Surname: </span>
          <input
            class="bg-white input-text"
            type="text"
            [value]="user.surname"
            [(ngModel)]="user.surname"
            [disabled]="!editMode"
          />
        </p>
        <p>
          <span class="font-semibold field-label">E-mail: </span>
          <input
            class="bg-white input-text"
            type="text"
            [value]="user.email"
            [(ngModel)]="user.email"
            [disabled]="!editMode"
          />
        </p>
      </div>
    </div>
  </div>
</div>
<!-- </body>
</html> -->
