<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kullanıcı Profili</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.7/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head> -->
<style>
  .custom-panel {
    border: 2px solid #1691d8;
  }

  .text-black {
    color: #4b4b4c;
  }

  .field-label {
    color: #000;
  }

  .input-text {
    color: #000;
  }

 
  .grid-container {
    display: flex; 
    gap: 20px; 
    align-items: stretch; 
  }

 
  .user-profile,
  .custom-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  
  .custom-panel,
  .custom-panel {
    align-items: stretch;
  }

  .text {
    color: #4b4b4c;
  }

  .label-password {
    color: #4e4d4d; 
  }

  .input-text {
    color: rgb(96, 96, 96);
  }

  .field-label {
  margin-bottom: 10px; 
}

.input-text {
  margin-bottom: 10px; /* Input alanları arasında 10 piksel boşluk bırakır */
}
</style>

<div class="bg-gray-100">
  <div class="w-4/6 p-4 mx-auto">
    <div class="grid-container">
      <!-- first person profile -->
      <div class="user-profile">
        <div class="custom-panel bg-white rounded-lg shadow p-4">
          <div class="flex items-center justify-between">
            <h1 class="text-3xl font-semibold text">User Profile</h1>
            <button
              *ngIf="editMode"
              (click)="onSaveClick()"
              class="bg-slate-400 text-white px-2 py-1 rounded hover-bg-blue-600 focus:outline-none"
            >
              Save
            </button>
            <button
              *ngIf="!editMode"
              (click)="onModeChange()"
              class="bg-slate-400 text-white px-2 py-1 rounded hover-bg-blue-600 focus:outline-none"
            >
              Edit
            </button>
            <button
             *ngIf="editMode"
              (click)="onCancelClick()"
              class="bg-red-400 text-white px-2 py-1 rounded hover-red-600 focus:outline-none"
            >
              Cancel
            </button>
          </div>
          <div class="mt-4" *ngIf="user">
            <p>
              <span class=" field-label text-xl">Name: </span>
              <input
                class="bg-white input-text"
                type="text"
                [value]="user.name"
                [(ngModel)]="user.name"
                [disabled]="!editMode"
              />
            </p>
            <p>
              <span class=" field-label text-xl">Surname: </span>
              <input
                class="bg-white input-text"
                type="text"
                [value]="user.surname"
                [(ngModel)]="user.surname"
                [disabled]="!editMode"
              />
            </p>
            <p>
              <span class=" field-label text-xl">E-mail: </span>
              <input
                class="bg-white input-text"
                type="text"
                [value]="user.email"
                [(ngModel)]="user.email"
                [disabled]="!editMode"
              />
            </p>
          </div>
        </div>
      </div>
      <!-- second person profile -->
      <div class="bg-white custom-panel rounded-lg shadow p-4">
        <div class="flex items-center justify-between">
          <h1 class="text-3xl font-semibold text">Change Password</h1>
        </div>
        <!-- Şifre Sıfırlama Formu -->
        <form (ngSubmit)="resetPassword()">
          <div class="mt-4">
            <label for="password" class="label-password text-xl">New Password</label>
            <!-- Rengi değiştirilen etiket -->
            <input
              type="password"
              id="password"
              name="password"
              [(ngModel)]="resetPasswordModel.password"
              class="w-80 border p-2 rounded bg-slate-100 ml-10 input-text"
              required
            />
          </div>
          <div class="mt-4">
            <label for="confirmPassword" class="label-password text-xl">Confirm Password</label
            >
            <!-- Rengi değiştirilen etiket -->
            <input
              type="password"
              id="confirmPassword"
              name="confirmPassword"
              [(ngModel)]="resetPasswordModel.confirmPassword"
              class="w-80 border p-2 rounded bg-slate-100 ml-4 input-text"
              required
            />
          </div>
          <div class="mt-4">
            <button
              type="submit"
              class="bg-slate-400 text-white px-4 py-1 rounded hover-bg-blue-600 focus:outline-none custom-button"
              *ngIf="!showForgotPasswordButton"
              (click)="resetPassword()"
            >
              Reset
            </button>
            <button
              type="button"
              class="bg-slate-400 text-white px-4 py-1 rounded hover-bg-blue-600 focus:outline-none custom-button ml-60"
              *ngIf="showForgotPasswordButton"
              (click)="forgotPassword()"
            >
              Forgot
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- </body>
</html> -->
