<form [formGroup]="stationForm" action="" class="w-full h-full">
  <div class="w-full h-full flex flex-col">
    <div class="flex justify-between">
      <div class="mb-4 w-full justify-between">
        <div class="flex w-full justify-between">
          <label
            class="block text-gray-200 text-sm font-bold mb-2"
            *ngIf="switchStatus"
            for=""
            >Address</label
          >
          <label
            class="block text-gray-200 text-sm font-bold mb-2"
            *ngIf="!switchStatus"
            for=""
            >Latitude</label
          >
          <label class="switch">
            <input (click)="setSwitch()" type="checkbox" />
            <span class="slider round"></span>
          </label>
        </div>
        <input
          *ngIf="switchStatus"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-white leading-tight focus:outline-none focus:shadow-outline"
          id="address"
          type="text"
          formControlName="address"
          placeholder="Enter Address"
          [value]="mapClickedData?.address"
        />
        <input
          *ngIf="!switchStatus"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-white leading-tight focus:outline-none focus:shadow-outline"
          id="latitude"
          type="text"
          formControlName="latitude"
          placeholder="Enter Latitude"
          [value]="mapClickedData?.lat"
        />
      </div>
    </div>
    <div *ngIf="!switchStatus" class="mb-4 w-full justify-between">
      <div class="flex w-full justify-between">
        <label class="block text-gray-200 text-sm font-bold mb-2" for="addres">
          Lng
        </label>
      </div>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-white leading-tight focus:outline-none focus:shadow-outline"
        id="longitude"
        type="text"
        formControlName="longitude"
        placeholder="Enter Longitude"
        [value]="mapClickedData?.lng"
      />
    </div>
    <form action="" [formGroup]="stationModelForm">
      <div class="mb-4 w-full justify-between">
        <div class="flex w-full justify-between">
          <label
            class="block text-gray-200 text-sm font-bold mb-2"
            for="addres"
          >
            Station Model Name
          </label>
        </div>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-white leading-tight focus:outline-none focus:shadow-outline"
          id="name"
          type="text"
          formControlName="name"
          placeholder="Enter Station Model Name"
        />
      </div>
    </form>
    <div class="mb-4 w-full justify-between">
      <div class="flex w-full justify-between">
        <label class="block text-gray-200 text-sm font-bold mb-2" for="addres">
          Station Name
        </label>
      </div>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-white leading-tight focus:outline-none focus:shadow-outline"
        id="name"
        type="text"
        formControlName="name"
        placeholder="Enter Name"
      />
    </div>
    <div *ngIf="!switchStatus" class="mb-4 w-full justify-between">
      <div class="flex w-full justify-between">
        <label class="block text-gray-200 text-sm font-bold mb-2" for="addres">
          Sockets
        </label>
      </div>
      <!-- <div>
        <select multiple name="" id="">
          <option
            value=""
            formControlName="socketss"
            *ngFor="let socket of sockets"
            [value]="socket.id"
          >
            {{ socket.type }}
          </option>
        </select>
      </div> -->
      <div>
        <form [formGroup]="selectedSocketsForm">
          <mat-form-field color="warn">
            <mat-label>Toppings</mat-label>
            <mat-select formControlName="sockets" multiple>
              <mat-option *ngFor="let socket of sockets" [value]="socket.id">{{
                socket.type
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </div>
    </div>
    <!-- submit button -->
    <div class="flex justify-end">
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        type="submit"
        (click)="onSubmit()"
      >
        Submit
      </button>
    </div>
  </div>
</form>
