<div>
  <form [formGroup]="stationForm">
    <div *ngIf="switchStatus" class="mb-4 w-full justify-between">
      <div class="flex w-full justify-between">
        <label class="block text-gray-200 text-sm font-bold mb-2" for="addres">
          Address
        </label>
        <label (click)="toggleSwitch()" class="switch">
          <input type="checkbox" />
          <span class="slider round"></span>
        </label>
      </div>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-white leading-tight focus:outline-none focus:shadow-outline"
        id="address"
        type="text"
        formControlName="address"
        placeholder="Enter Address"
      />
    </div>
    <div
      (click)="toggleSwitch()"
      *ngIf="!switchStatus"
      class="mb-4 w-full justify-between"
    >
      <div class="flex w-full justify-between">
        <label class="block text-gray-200 text-sm font-bold mb-2" for="addres">
          Lat
        </label>
        <label class="switch">
          <input type="checkbox" />
          <span class="slider round"></span>
        </label>
      </div>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-white leading-tight focus:outline-none focus:shadow-outline"
        id="latitude"
        type="text"
        formControlName="latitude"
        placeholder="Enter Latitude"
      />
    </div>
    <div *ngIf="!switchStatus" class="mb-4 w-full justify-between">
      <div class="flex w-full justify-between">
        <label class="block text-gray-200 text-sm font-bold mb-2" for="addres">
          Lng
        </label>
      </div>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-white leading-tight focus:outline-none focus:shadow-outline"
        id="longtitude"
        type="text"
        formControlName="longtitude"
        placeholder="Enter Longtitude"
      />
    </div>
    <form [formGroup]="stationSocketForm">
      <div class="mb-4">
        <label class="block text-gray-200 text-sm font-bold mb-2" for="icon">
          Name
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-white leading-tight focus:outline-none focus:shadow-outline"
          id="name"
          formControlName="name"
          type="text"
          placeholder="Enter Name"
        />
      </div>

      <div class="mb-4">
        <div class="flex w-full justify-between">
          <label
            class="block text-gray-200 text-sm font-bold mb-2"
            for="facilities"
          >
            Socket
          </label>
        </div>
        <select
          class="select max-w-xs shadow appearance-none border rounded w-full py-2 px-3 text-white leading-tight focus:outline-none focus:shadow-outline"
          id="socketId"
          formControlName="socketId"
        >
          <option value="" disabled selected>Select Connector</option>
          <option *ngFor="let con of sockets" [value]="con.id">
            {{ con.name }}
          </option>
        </select>
      </div>
    </form>
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      type="button"
    >
      Submit
    </button>
  </form>
</div>
