<div>
  <form>
    <div *ngIf="switchStatus" class="mb-4 w-full justify-between">
      <div class="flex w-full justify-between">
        <label class="block text-gray-200 text-sm font-bold mb-2" for="addres">
          Address
        </label>
        <label (click)="toggleSwitch()" class="switch">
          <input type="checkbox" />
          <span class="slider round"></span>
        </label>
      </div>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-white leading-tight focus:outline-none focus:shadow-outline"
        id="address"
        type="text"
        placeholder="Enter Address"
      />
    </div>
    <div
      (click)="toggleSwitch()"
      *ngIf="!switchStatus"
      class="mb-4 w-full justify-between"
    >
      <div class="flex w-full justify-between">
        <label class="block text-gray-200 text-sm font-bold mb-2" for="addres">
          Lat
        </label>
        <label class="switch">
          <input type="checkbox" />
          <span class="slider round"></span>
        </label>
      </div>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-white leading-tight focus:outline-none focus:shadow-outline"
        id="address"
        type="text"
        placeholder="Enter Address"
      />
    </div>
    <div *ngIf="!switchStatus" class="mb-4 w-full justify-between">
      <div class="flex w-full justify-between">
        <label class="block text-gray-200 text-sm font-bold mb-2" for="addres">
          Lng
        </label>
      </div>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-white leading-tight focus:outline-none focus:shadow-outline"
        id="address"
        type="text"
        placeholder="Enter Address"
      />
    </div>
    <div class="mb-4">
      <label class="block text-gray-200 text-sm font-bold mb-2" for="icon">
        Name
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-white leading-tight focus:outline-none focus:shadow-outline"
        id="icon"
        type="text"
        placeholder="Enter icon"
      />
    </div>
    <!-- socket type -->
    <div class="mb-4">
      <label
        class="block text-gray-200 text-sm font-bold mb-2"
        for="socketType"
      >
        Socket Type
      </label>
      <select
        class="shadow appearance-none border rounded w-full py-2 px-3 text-white leading-tight focus:outline-none focus:shadow-outline"
        id="socketType"
      >
        <option value="1">Type 1</option>
        <option value="2">Type 2</option>
        <option value="3">Type 3</option>
        <option value="4">Type 4</option>
      </select>
    </div>
    <!-- facilities -->
    <div class="mb-4">
      <label
        class="block text-gray-200 text-sm font-bold mb-2"
        for="facilities"
      >
        Facilities
      </label>
      <select
        class="shadow appearance-none border rounded w-full py-2 px-3 text-white leading-tight focus:outline-none focus:shadow-outline"
        id="facilities"
      >
        <option value="1">Toilet</option>
        <option value="2">Cafe</option>
        <option value="3">Restaurant</option>
        <option value="4">Shop</option>
      </select>
    </div>

    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      type="button"
    >
      Submit
    </button>
  </form>
</div>
