<div class="h-full w-full min-h-[500px]">
  <table class="table">
    <thead class="w-full">
      <tr>
        <th>
          <label>
            <input type="checkbox" class="checkbox" />
          </label>
        </th>
        <th class="w-1/5">Station</th>
        <th class="w-1/5 bg-[#202c3f]">Station Model</th>
        <th class="w-1/5">Socket</th>
        <th class="w-1/5 bg-[#202c3f]">Connectors</th>
        <th class="w-1/5"></th>
      </tr>
    </thead>
    <tbody class="w-full" *ngFor="let item of stations">
      <tr>
        <td class="">
          <label>
            <input type="checkbox" class="checkbox" />
          </label>
        </td>
        <td class="bg-[#1E293B]">
          <div class="font-bold">{{ item.name }}</div>
          <div class="text-sm opacity-50">
            {{ item.address | getFirstTwoParts }}
          </div>
        </td>
        <td class="bg-[#202c3f]">
          {{ item.stationModel?.name }}
        </td>
        <td class="bg-[#1E293B]">
          <button
            (click)="toggleList()"
            class="btn flex justify-start items-center bg-transparent cursor-pointer w-full"
          >
            <!-- <span *ngIf="!showList">List of sockets</span> -->
            <ul class="flex flex-col justify-start text-xs">
              <li
                *ngFor="let socketItem of item.stationModel?.stationSockets"
                class="flex justify-start mt-1"
              >
                {{ socketItem.chargingUnit?.name }}
              </li>
            </ul>
          </button>
        </td>
        <td class="bg-[#202c3f]">
          <button
            (click)="toggleList()"
            class="btn flex justify-start items-center bg-transparent cursor-pointer w-full"
          >
            <!-- <span *ngIf="!showList">List of sockets</span> -->
            <ul class="">
              <li
                *ngFor="let socketItem of item.stationModel?.stationSockets"
                class="flex justify-start mt-1"
              >
                {{ socketItem.chargingUnit?.connector?.type }}
              </li>
            </ul>
          </button>
        </td>

        <td class="gap-x-2 flex">
          <button class="btn btn-ghost" (click)="editStation(item)">
            Edit
          </button>
          <button class="btn btn-ghost" (click)="deleteStation(item.id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
