<div class="h-full w-full">
  <table class="table">
    <thead class="w-full">
      <tr>
        <th>
          <!-- <label>
            <input type="checkbox" class="checkbox" />
          </label> -->
        </th>
        <th class="w-2/5">
          <div class="search-container">
            <div class="title-and-search">
              <span
                class="search-icon-container"
                (click)="toggleSearch()"
                (keydown.enter)="toggleSearch()"
                tabindex="0"
                role="button"
              >
                <i class="fas fa-search search-icon"></i>
              </span>
              Vehicle
              <input
                *ngIf="showSearch"
                type="text"
                class="form-control transparent-input"
                [(ngModel)]="searchTerm"
                placeholder="Search by brand or model"
              />
            </div>
          </div>
        </th>
        <th class="w-2/5 bg-primary">Vehicle Brand</th>
        <th class="w-1/5">Vehicle Model</th>
        <th class="w-1/5"></th>
      </tr>
    </thead>
    <tbody class="w-full">
      <tr
        *ngFor="let vehicle of vehicles | searchFilterVehicle : searchTerm"
        (click)="toggleSelection(vehicle)"
      >
        <td>
          <label>
            <input type="checkbox" class="checkbox" />
          </label>
        </td>
        <td class="bg-primary">
          <div class="font-bold">{{ vehicle.brand + " " + vehicle.model }}</div>
        </td>
        <td class="bg-primary">
          <div class="font-bold">{{ vehicle.brand }}</div>
        </td>
        <td class="bg-primary">
          <input
            class="bg-transparent border-none outline-none font-bold"
            type="text"
            [value]="vehicle.model"
            [(ngModel)]="vehicle.model"
            [disabled]="!editMode"
          />
        </td>
        <td class="gap-x-2 flex">
          <button
            class="btn btn-ghost"
            (click)="onSave(vehicle)"
            [disabled]="editMode && !vehicle.isSelected"
          >
            {{ editMode && vehicle.isSelected ? "Save" : "Edit" }}
          </button>
          <button class="btn btn-ghost" (click)="deleteVehicle(vehicle.id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
