<div
  class="flex flex-col laptop:flex-row w-full gap-10 laptop:justify-around justify-center items-center"
>
  <div
    class="flex flex-col justify-evenly bg-transparent border border-secondary item w-full h-full max-w-[550px] min-h-[300px] rounded-2xl"
  >
    <div class="p-4 text-white">
      <p class="text-2xl">Website Analystics</p>
    </div>
    <div class="p-4 grid grid-cols-2 gap-y-3">
      <div class="gap-2 flex items-center">
        <button
          class="btn btn-sm bg-transparent hover:bg-transparent hover:border-secondary border border-secondary"
        >
          30%
        </button>
        <label class="text-white text-lg laptop:text-2xl" for=""
          >Sessions</label
        >
      </div>
      <div class="gap-2 flex items-center">
        <button
          class="btn btn-sm bg-transparent hover:bg-transparent hover:border-secondary border border-secondary"
        >
          10k
        </button>
        <label class="text-white text-lg laptop:text-2xl" for=""
          >Page Views</label
        >
      </div>
      <div class="gap-2 flex items-center">
        <button
          class="btn btn-sm bg-transparent hover:bg-transparent hover:border-secondary border border-secondary"
        >
          1.5k
        </button>
        <label class="text-white text-lg laptop:text-2xl" for="">Leads</label>
      </div>
      <div class="gap-2 flex items-center">
        <button
          class="btn btn-sm bg-transparent hover:bg-transparent hover:border-secondary border border-secondary"
        >
          14%
        </button>
        <label class="text-white text-lg laptop:text-2xl" for=""
          >Conversion</label
        >
      </div>
    </div>
  </div>
  <div
    class="flex flex-col justify-evenly bg-transparent border border-secondary item w-full h-full max-w-[550px] min-h-[300px] rounded-2xl"
  >
    <div class="p-4 text-white">
      <p class="text-2xl">Route Analystics</p>
    </div>
    <div class="p-4 grid grid-cols-2 gap-y-3">
      <div class="gap-2 flex items-center">
        <button
          class="btn btn-sm bg-transparent hover:bg-transparent hover:border-secondary border border-secondary"
        >
          200k
        </button>
        <label class="text-white text-lg laptop:text-2xl" for="">Routes</label>
      </div>
      <div class="gap-2 flex items-center">
        <button
          class="btn btn-sm bg-transparent hover:bg-transparent hover:border-secondary border border-secondary"
        >
          10k
        </button>
        <label class="text-white text-lg laptop:text-2xl" for=""
          >Favorite Routes</label
        >
      </div>
      <div class="gap-2 flex items-center">
        <button
          class="btn btn-sm bg-transparent hover:bg-transparent hover:border-secondary border border-secondary"
        >
          3587
        </button>
        <label class="text-white text-lg laptop:text-2xl" for=""
          >Stations</label
        >
      </div>
      <div class="gap-2 flex items-center">
        <button
          class="btn btn-sm bg-transparent hover:bg-transparent hover:border-secondary border border-secondary"
        >
          4k
        </button>
        <label class="text-white text-lg laptop:text-2xl" for=""
          >Favorite Stations</label
        >
      </div>
    </div>
  </div>
</div>
