<style>
  /* Ekranın ortasına hizalamak için */
  body,
  html {
    height: 100%;
    margin: 0;
  }
  /* Favourites yazısının altında kalan boşluğu ayarlamak için */
  .custom-panel {
    margin-top: 1rem; /* Düzenleyebilirsiniz */
  }
</style>

<div class="bg-transparent h-screen flex justify-center items-center">
  <div id="customPanel" class="w-4/6">
    <div class="grid-container">
      <div class="user-profile">
        <div class="custom-panel rounded-lg shadow p-4">
          <h1 class="text-3xl font-semibold text">
            {{ "FAVOURITES" | translate
            }}<i class="fas fa-star fa-2xs ml-5"></i>
          </h1>
          <select #language (change)="onChange(language.value)">
            <option
              *ngFor="let lang of translateService.getLangs()"
              [value]="lang"
            >
              {{ lang | translate }}
            </option>
          </select>
          <div class="flex items-center justify-between overflow-x-auto">
            <table class="table w-4/5 ml-5 mt-10 mb-10">
              <!-- head -->
              <thead>
                <tr
                  [style]="{
                    color: color.color2
                  }"
                >
                  <th class="text-xl font-bold">
                    {{ "Station Name" | translate }}
                  </th>
                  <th class="text-xl font-bold">{{ "Address" | translate }}</th>
                  <th class="text-xl font-bold">{{ "Model" | translate }}</th>
                  <th class="text-xl font-bold">
                    {{ "Charging unit" | translate }}
                  </th>
                  <th class="text-xl font-bold">
                    {{ "Connector" | translate }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <!-- row 1 -->
                <tr
                  class="text-center"
                  [style]="{
                    color: color.color2
                  }"
                  *ngFor="let station of stations; let i = index"
                >
                  <td>{{ station.name }}</td>
                  <td>{{ station.address }}</td>
                  <td>{{ station.stationModel?.name }}</td>
                  <td>
                    <div
                      *ngFor="
                        let unit of station.stationModel?.stationsChargingUnits;
                        let i = index
                      "
                    >
                      {{ unit?.chargingUnit?.name }}
                    </div>
                  </td>
                  <td>
                    <div
                      *ngFor="
                        let unit of station.stationModel?.stationsChargingUnits;
                        let i = index
                      "
                    >
                      {{ unit?.chargingUnit?.connector?.type }}
                    </div>
                  </td>
                  <td>
                    <!-- Delete Button -->
                    <button
                      [style]="{
                        'background-color': color.color2,
                        color: color.color4
                      }"
                      class="px-4 py-2 rounded"
                      (click)="onDeleteStationProfile(station.id)"
                    >
                      {{ "Delete" | translate }}
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
