<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kullanıcı Profili</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.7/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head> -->
<div class="bg-gray-100">
  <div class="w-4/6 p-4 mx-auto">
    <div class="mb-4">
      <div class="bg-white rounded-lg shadow p-4 h-72">
        <div class="flex items-center justify-between">
          <h1 class="text-2xl font-semibold">Favoriler</h1>
          <button
            class="bg-slate-400 text-white px-2 py-1 rounded hover:bg-blue-600 focus:outline-none"
          >
            Edit
          </button>
        </div>
        <div class="mt-4">
          <p><span class="font-semibold">Ad Soyad:</span> John Doe</p>
          <p><span class="font-semibold">E-posta:</span> johndoe@example.com</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </body>
</html> -->
