<div class="flex justify-center sticky top-5 z-20">
  <div
    class="navbar h-[80px] bg-[#ffffff] bg-opacity-95 rounded-full w-[95vw] flex justify-between px-10"
  >
    <div>
      <a
        href="/home"
        class="text-xl text-black hover:text-yellow-400 duration-300 ease-in-out font-bold p-5 flex justify-center items-center bg-opacity-95"
        >eGuide</a
      >
    </div>
    <div>
      <a
        href="/home"
        class="text-lg text-black font-bold p-5 flex justify-center items-center bg-opacity-95 hover:border-b"
        >Home</a
      >
      <a
        href=""
        class="text-lg text-black font-bold p-5 flex justify-center items-center bg-opacity-95 hover:border-b"
        >About</a
      >
      <a
        href=""
        class="text-lg text-black font-bold p-5 flex justify-center items-center bg-opacity-95 hover:border-b"
        >Contact</a
      >
      <a
        href="/login"
        class="text-lg text-black font-bold p-5 hover:border-b flex justify-center items-center bg-opacity-95"
        >Login</a
      >
      <a
        href="/register"
        class="text-lg text-black font-bold p-5 flex justify-center items-center bg-opacity-95 hover:border-b"
        >Register</a
      >
    </div>
  </div>
</div>
