<div class="w-full h-full mb-10 bg-transparent">
  <div class="flex border-b pb-2">
    <h1 class="text-5xl font-bold text-center">Services</h1>
  </div>
  <div
    class="flex flex-col justify-center items-center mt-10"
    *ngFor="let service of service"
  >
    <div
      class="flex shadow p-20 rounded-lg flex-col tablet:flex-row max-w-[70vw] gap-5"
      *ngIf="service.layout === 1"
    >
      <div class="flex tablet:justify-end justify-center">
        <img [src]="service.image" alt="" class="object-cover w-[400px]" />
      </div>
      <div class="w-full h-full flex flex-col justify-center">
        <span class="text-3xl font-bold">{{ service.name | titlecase }}</span>
        <p class="text-base opacity-70 text-justify mt-5">
          {{ service.description }}
        </p>
        <button class="btn btn-lg max-w-[200px] w-full mt-5">
          Get Started
        </button>
      </div>
    </div>

    <div
      class="flex shadow p-20 rounded-lg flex-col tablet:flex-row max-w-[70vw] gap-5"
      *ngIf="service.layout === 3"
    >
      <div *ngIf="width === 100" class="flex tablet:justify-end justify-center">
        <img [src]="service.image" alt="" class="object-cover w-[400px]" />
      </div>
      <div class="w-full h-full flex flex-col justify-center">
        <span class="text-3xl font-bold">{{ service.name | titlecase }}</span>
        <p class="text-base opacity-70 text-justify mt-5">
          {{ service.description }}
        </p>
        <button class="btn btn-lg max-w-[200px] w-full mt-5">
          Get Started
        </button>
      </div>
      <div *ngIf="width !== 100" class="flex tablet:justify-end justify-center">
        <img [src]="service.image" alt="" class="object-cover w-[400px]" />
      </div>
    </div>

    <div
      class="shadow p-20 rounded-lg max-w-[70vw] gap-5"
      *ngIf="service.layout === 2"
    >
      <div class="flex tablet:justify-center justify-center">
        <img [src]="service.image" alt="" class="object-cover w-[400px]" />
      </div>
      <div class="w-full h-full flex flex-col justify-center">
        <span class="flex justify-center text-3xl font-bold">{{
          service.name | titlecase
        }}</span>
        <p class="text-base opacity-70 text-justify mt-5">
          {{ service.description }}
        </p>
        <div class="w-full flex laptop:justify-end justify-start">
          <button class="btn btn-lg max-w-[200px] w-full mt-5">
            Get Started
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
