<div
  class="duration-300 h-screen"
  [ngClass]="collapseSideNav ? 'w-28' : 'w-[400px]'"
>
  <!-- your sidebar content here -->
  <div
    class="flex sidenav bg-primary border-r border-secondary justify-center flex-col w-full h-full"
    [ngClass]="collapseSideNav ? 'items-center' : ' items-center'"
  >
    <!--! Logo Div -->
    <div
      class="h-28 duration-500 w-full flex items-center"
      [ngClass]="collapseSideNav ? 'ml-3 gap-5 ' : 'justify-between p-5'"
    >
      <a routerLink="">
        <p
          class="font-bold duration-300"
          [ngClass]="collapseSideNav ? 'ml-4 text-xl' : 'ml-10 text-3xl'"
        >
          eGuide
        </p>
      </a>
      <!--? hamburger icon -->
      <div
        (click)="setSideNav()"
        *ngIf="collapseSideNav"
        [ngClass]="collapseSideNav ? 'ml-4' : 'ml-10'"
        class="fa fa-bars cursor-pointer text-2xl mr-2"
        tabindex="0"
        (keyup)="handleKeyup($event)"
      ></div>
      <!--? close icon -->
      <div
        *ngIf="!collapseSideNav"
        (click)="setSideNav()"
        tabindex="0"
        (keyup)="handleKeyup($event)"
        class="fa fa-times cursor-pointer text-2xl"
      ></div>
    </div>

    <!--! Profile Div -->
    <div
      *ngIf="adminInfo"
      [ngClass]="collapseSideNav ? 'justify-center' : 'pl-[60px]'"
      class="h-28 duration-300 border-t border-b border-opacity-50 border-secondary flex w-full items-center gap-10"
    >
      <!-- <img
        src="https://i.pravatar.cc/60"
        alt="profile-img"
        class="rounded-full w-16 h-16"
      /> -->
      <div
        class="rounded-full cursor-pointer w-16 h-16 bg-[#44528b] flex items-center justify-center"
      >
        <!-- random background color -->
        <a routerLink="settings" class="text-white text-xl font-bold">
          {{ adminInfo.name?.charAt(0) | uppercase
          }}{{ adminInfo.surname?.charAt(0) | uppercase }}
        </a>
      </div>
      <div
        [ngClass]="collapseSideNav ? 'hidden' : 'flex flex-col'"
        class="duration-300 profile-name-con"
      >
        <p class="profile-name">
          {{ adminInfo.name | titlecase }} {{ adminInfo.surname | titlecase }}
        </p>
        <p class="profile-email">{{ adminInfo.email }}</p>
      </div>
    </div>

    <!--! Menu Div -->
    <div
      [ngClass]="collapseSideNav ? 'items-center' : 'items-start pl-14'"
      class="flex duration-300 flex-col mt-[15px] overflow-scroll menu-con w-full"
    >
      <ul class="menu-ul">
        <!--? Dashboard -->
        <li
          class="menu-list hover:bg-secondary hover:rounded-2xl items-center flex"
        >
          <a routerLink="" class="active cursor-pointer">
            <i class="fa fa-chart-line"></i>
            <span class="mt-1" [ngClass]="collapseSideNav ? 'hidden' : ''"
              >Dashboard</span
            >
          </a>
        </li>

        <!--? Management -->
        <li class="menu-list items-center flex flex-col">
          <div
            [ngClass]="collapseSideNav ? 'justify-center' : 'w-[335px]'"
            class="flex justify-between hover:bg-secondary hover:rounded-2xl"
            (click)="hideManagement()"
            tabindex="0"
            (keyup)="handleKeyup($event)"
          >
            <a class="cursor-pointer">
              <i class="fa-solid fa-list-check"></i>
              <span class="mt-1" [ngClass]="collapseSideNav ? 'hidden' : ''"
                >Management</span
              >
            </a>
            <div
              class="mr-2 flex justify-center items-center"
              *ngIf="!collapseSideNav"
              [ngClass]="
                collapseManagement ? 'fas fa-caret-up' : 'fas fa-caret-down'
              "
            ></div>
          </div>
          <ul
            class="sumbenu-list justify-start w-full"
            *ngIf="collapseManagement"
          >
            <li class="submenu-list">
              <a routerLink="station">
                <i class="fa fa-charging-station"></i>
                <span class="mt-1" [ngClass]="collapseSideNav ? 'hidden' : ''"
                  >Station</span
                >
              </a>
            </li>
            <li class="submenu-list">
              <a routerLink="facility" class="cursor-pointer">
                <!-- <i class="fa fa-hippo"></i> -->
                <i class="fa-solid fa-house-medical"></i>
                <span class="mt-1" [ngClass]="collapseSideNav ? 'hidden' : ''"
                  >Facility</span
                >
              </a>
            </li>
            <li class="submenu-list">
              <a class="cursor-pointer" routerLink="admin-list">
                <i class="fa fa-user"></i>
                <span class="mt-1" [ngClass]="collapseSideNav ? 'hidden' : ''"
                  >Admin</span
                >
              </a>
            </li>
            <li class="submenu-list">
              <a class="cursor-pointer" routerLink="user">
                <i class="fa fa-user"></i>
                <span class="mt-1" [ngClass]="collapseSideNav ? 'hidden' : ''"
                  >User</span
                >
              </a>
            </li>

            <li class="submenu-list">
              <a routerLink="vehicle">
                <!-- <i class="fa fa-user"></i> -->
                <i class="fa-solid fa-car"></i>

                <span [ngClass]="collapseSideNav ? 'hidden' : ''">Vehicle</span>
              </a>
            </li>
            <li class="submenu-list">
              <a routerLink="charging-unit">
                <!-- <i class="fas fa-subway"></i> -->
                <i class="fa-solid fa-plug"></i>
                <span class="mt-1" [ngClass]="collapseSideNav ? 'hidden' : ''"
                  >Charing Unit</span
                >
              </a>
            </li>
            <li class="submenu-list">
              <a routerLink="social-media" class="cursor-pointer">
                <!-- <i class="fas fa-building"></i> -->
                <i class="fa-solid fa-hashtag"></i>
                <span class="mt-1" [ngClass]="collapseSideNav ? 'hidden' : ''"
                  >Social Media</span
                >
              </a>
            </li>
          </ul>
        </li>

        <!--? Services -->
        <li
          class="menu-list hover:bg-secondary hover:rounded-2xl items-center flex"
        >
          <a routerLink="service" class="cursor-pointer">
            <!-- <i class="fas fa-user"></i> -->
            <i class="fa-solid fa-bell-concierge"></i>
            <span class="mt-1" [ngClass]="collapseSideNav ? 'hidden' : ''"
              >Services</span
            >
          </a>
        </li>

        <!--? Customization -->
        <li class="menu-list items-center flex flex-col">
          <div
            (click)="hideCustomization()"
            tabindex="0"
            (keyup)="handleKeyup($event)"
            [ngClass]="collapseSideNav ? 'justify-center' : 'w-[335px]'"
            class="flex justify-between hover:bg-secondary hover:rounded-2xl"
          >
            <a class="cursor-pointer">
              <i class="fa-solid fa-sliders"></i>
              <span class="mt-1" [ngClass]="collapseSideNav ? 'hidden' : ''"
                >Customization</span
              >
            </a>
            <div
              class="mr-2 justify-center flex items-center"
              *ngIf="!collapseSideNav"
              [ngClass]="
                collapseCustomization ? 'fas fa-caret-up' : 'fas fa-caret-down'
              "
            ></div>
          </div>
          <ul *ngIf="collapseCustomization" class="justify-start w-full">
            <li class="submenu-list">
              <a routerLink="/customization" class="cursor-pointer">
                <!-- <i class="fas fa-car"></i> -->
                <span class="mt-1" [ngClass]="collapseSideNav ? 'hidden' : ''"
                  >Navbar</span
                >
              </a>
            </li>
            <li class="submenu-list">
              <a routerLink="/customization" class="cursor-pointer">
                <!-- <i class="fas fa-subway"></i> -->
                <span class="mt-1" [ngClass]="collapseSideNav ? 'hidden' : ''"
                  >Footer</span
                >
              </a>
            </li>
            <li class="submenu-list">
              <a routerLink="/customization" class="cursor-pointer">
                <!-- <i class="fas fa-building"></i> -->
                <span class="mt-1" [ngClass]="collapseSideNav ? 'hidden' : ''"
                  >Color</span
                >
              </a>
            </li>
            <li class="submenu-list">
              <a routerLink="/customization" class="cursor-pointer">
                <!-- <i class="fas fa-building"></i> -->
                <span class="mt-1" [ngClass]="collapseSideNav ? 'hidden' : ''"
                  >Contact Information</span
                >
              </a>
            </li>
          </ul>
        </li>

        <!--? Chat -->
        <label for="my-drawer-4" class="cursor-pointer">
          <li
            class="menu-list hover:bg-secondary hover:rounded-2xl items-center flex"
          >
            <a class="cursor-pointer">
              <i class="fas fa-comments"></i>
              <span class="mt-1" [ngClass]="collapseSideNav ? 'hidden' : ''">
                Chat
              </span>
            </a>
          </li>
        </label>

        <!--? Settings -->
        <li
          class="menu-list hover:bg-secondary hover:rounded-2xl items-center flex"
        >
          <a routerLink="settings" class="cursor-pointer">
            <i class="fas fa-cog"></i>
            <span class="mt-1" [ngClass]="collapseSideNav ? 'hidden' : ''"
              >Settings</span
            >
          </a>
        </li>
      </ul>
    </div>

    <!--! Logout Div -->
    <div
      [ngClass]="collapseSideNav ? 'items-center' : 'items-start pl-14'"
      class="flex duration-300 flex-col mt-[15px] menu-cons w-full"
    >
      <ul class="menu-ul">
        <!--? Dashboard -->
        <li
          [ngClass]="collapseSideNav ? 'justify-center' : 'w-[335px]'"
          class="menu-list hover:bg-secondary cursor-pointer hover:rounded-2xl items-center flex"
        >
          <a
            (keydown)="handleKeyup($event)"
            tabindex="0"
            (click)="logout()"
            class="cursor-pointer"
            class="active gap-5"
          >
            <i class="fa fa-sign-out-alt"></i>
            <span class="mt-1" [ngClass]="collapseSideNav ? 'hidden' : ''"
              >Logout</span
            >
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
