<style>
   @media (max-width: 1280px) {
    #confirmEmailForm {
      width: 85%; /* Dar ekranlarda daha büyük genişlik (5/6 oranı) */
    }
  }
</style>

<form [formGroup]="confirmEmailForm" class="mt-40" >
  <div class="relative flex flex-col justify-center overflow-hidden">
    <div id="confirmEmailForm"
      class="w-2/5 p-6 m-auto bg-white rounded-md shadow-md ring-2 ring-gray-800/50 lg:max-w-xl">
      <h1 class="text-3xl font-semibold text-center text-gray-700">Email Confirmation</h1>
      <div form="space-y-4">
        <div>
          <label for="email" class="label">
            <span class="text-base label-text">Email</span>
          </label>
          <input
            type="text"
            placeholder="Enter Email"
            class="w-full input input-bordered"
            formControlName="email"
          />
        </div>        

        <div>
          <button class="btn w-full mt-3 bg-white" (click)="confirmEmail()">Send Email</button>
        </div>
        <div class="mt-3 w-full flex justify-between">
         <span>
         *Please check your email address       
        </span>
        </div>
      </div>
    </div>
  </div>
</form>