<div class="flex justify-center bg-primary min-h-screen">
  <div class="w-full h-full duration-300 m-16 mt-14">
    <div class="">
      <p class="uppercase font-bold text-2xl border-b border-secondary">
        Vehicle
      </p>
    </div>
    <div class="flex flex-col justify-center px-5 mt-10">
      <div class="z-40 min-w-[15vw]">
        <app-vehicle-form></app-vehicle-form>
      </div>
      <div class="min-w-[40vw] w-full h-[70vh]">
        <app-vehicle-list></app-vehicle-list>
      </div>
    </div>
  </div>
</div>
