<div class="h-full min-h-[450px]">
  <table>
    <thead>
      <div class="h-full w-full min-h-[500px]">
        <table class="table">
          <thead class="w-full">
            <tr>
              <th>
                <label>
                  <input type="checkbox" class="checkbox" />
                </label>
              </th>
              <th>Station</th>
              <th>Station Type</th>
              <th>Socket</th>
              <th>Connectors</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr class="" *ngFor="let item of models">
              <th>
                <label>
                  <input type="checkbox" class="checkbox" />
                </label>
              </th>
              <td>
                <div class="flex items-center space-x-3">
                  <div class="avatar">
                    <div class="mask mask-squircle w-12 h-12">
                      <img
                        src="https://i.pravatar.cc/60"
                        alt="Avatar Tailwind CSS Component"
                      />
                    </div>
                  </div>
                  <div>
                    <div class="font-bold">{{ item.StationName }}</div>
                    <div class="text-sm opacity-50">United States</div>
                  </div>
                </div>
              </td>
              <div *ngFor="let socketItem of item.socket">
                <td>
                  {{ socketItem.SocketName }}
                </td>
                <td>
                  {{ socketItem.SocketType }}
                </td>
                <td *ngFor="let connector of socketItem.connector">
                  {{ connector.ConnectorType }}
                </td>
                <th>
                  <button class="btn btn-ghost btn-xs">details</button>
                </th>
              </div>
            </tr>
          </tbody>
        </table>
      </div>
    </thead>
  </table>
</div>
