<div
  class="w-full h-full grid laptop:grid-cols-3 grid-cols-2 grid-rows-2 justify-center items-center gap-10 mt-16"
>
  <button
    class="btn bg-transparent hover:bg-primary border border-secondary hover:border-secondary min-h-[130px] min-w-[150px]"
  >
    <div class="flex flex-col justify-center items-center">
      <span class="text-4xl font-bold text-white">{{ stationCount }}</span>
      <span class="text-white text-lg normal-case font-bold">Stations</span>
    </div>
  </button>
  <button
    class="btn bg-transparent hover:bg-primary border border-secondary hover:border-secondary min-h-[130px] min-w-[150px]"
  >
    <div class="flex flex-col justify-center items-center">
      <span class="text-4xl font-bold text-white">{{ facilityCount }}</span>
      <span class="text-white text-lg normal-case font-bold">Facilities</span>
    </div>
  </button>
  <button
    class="btn bg-transparent hover:bg-primary border border-secondary hover:border-secondary min-h-[130px] min-w-[150px]"
  >
    <div class="flex flex-col justify-center items-center">
      <span class="text-4xl font-bold text-white">{{ socialMediaCount }}</span>
      <span class="text-white text-lg normal-case font-bold">Social Media</span>
    </div>
  </button>
  <button
    class="btn bg-transparent hover:bg-primary border border-secondary hover:border-secondary min-h-[130px] min-w-[150px]"
  >
    <div class="flex flex-col justify-center items-center">
      <span class="text-4xl font-bold text-white">{{ vehicleCount }}</span>
      <span class="text-white text-lg normal-case font-bold">Vehicle</span>
    </div>
  </button>
  <button
    class="btn bg-transparent hover:bg-primary border border-secondary hover:border-secondary min-h-[130px] min-w-[150px]"
  >
    <div class="flex flex-col justify-center items-center">
      <span class="text-4xl font-bold text-white">{{ chargingUnitCount }}</span>
      <span class="text-white text-lg normal-case font-bold"
        >Charging Unit</span
      >
    </div>
  </button>
  <button
    class="btn bg-transparent hover:bg-primary border border-secondary hover:border-secondary min-h-[130px] min-w-[150px]"
  >
    <div class="flex flex-col justify-center items-center">
      <span class="text-4xl font-bold text-white">{{ serviceCount }}</span>
      <span class="text-white text-lg normal-case font-bold">Service</span>
    </div>
  </button>
</div>
