<div class="flex bg-white min-h-screen h-full">
  <div class="bg-slate-400 w-1/5 p-4 border-r-2 border-r-sky-900">
    <ul class=" mt-40">
      <li>
        <a
          (click)="showPage('user-settings')"
          class="block text-white hover:text-blue-200 transition duration-300 py-4 px-4  text-center bg-slate-400 hover:border hover:border-gray-300"
         tabindex="0"(keydown.enter)="showPage('user-settings')"
          >
          User Profile
        </a>
      </li>
      <li>
        <a
          (click)="showPage('vehicle')"
          class="block text-white hover:text-blue-200 transition duration-300 py-4 px-4  text-center bg-slate-400 hover:border hover:border-gray-300"
         tabindex="0"(keydown.enter)="showPage('vehicle')"
          >
          Vehicles
        </a>
      </li>
    </ul>
  </div>
  <div class="w-4/5">
    <div *ngIf="currentPage === 'user-settings'">
      <app-user-settings></app-user-settings>
    </div>
    <div *ngIf="currentPage === 'vehicle'">
      <app-vehicle></app-vehicle>
    </div>
  </div>
</div>
