<dialog id="my_modal_5" class="modal modal-bottom sm:modal-middle">
  <div class="modal-box">
    <div class="modal-action flex flex-col">
      <form [formGroup]="updatePasswordForm">
        <div class="w-full h-full flex flex-col gap-4">
          <div class="w-full h-full flex flex-col">
            <label for="">Password</label
            ><input formControlName="password" type="password" />
          </div>
          <div class="w-full h-full flex flex-col">
            <label for="">Confirm Password</label
            ><input formControlName="confirmPassword" type="password" />
          </div>
        </div>
        <div class="flex w-full h-full justify-end gap-3 mt-5">
          <button (click)="onSubmit()" class="btn">Update</button>
          <form method="dialog" class="">
            <button class="btn">Close</button>
          </form>
        </div>
      </form>
    </div>
  </div>
</dialog>
