<mat-tab-group
  mat-stretch-tabs="true"
  mat-align-tabs="start"
  dynamicHeight="true"
  class="w-full h-full min-h-[500px] min-w-[300px] border rounded-lg border-secondary bg-primary text-white text-xl font-bold flex flex-col"
>
  <mat-tab label="Favorite Stations" class="text-white">
    <div class="p-6 pt-4 station-list text-white">
      <div *ngFor="let station of stations; let i = index" class="station-item">
        {{ stationNames[i] }} - {{ stationUserCounts[i] }}
        <i class="fa-solid fa-star"></i>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Favorite Stations" class="text-white">
    <div class="p-6 pt-4 station-list text-white">
      <div *ngFor="let station of stations; let i = index" class="station-item">
        {{ stationNames[i] }} - {{ stationUserCounts[i] }}
        <i class="fa-solid fa-star"></i>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
