<style>
   @media (max-width: 1280px) {
    #confirmForm {
      width: 85%; /* Dar ekranlarda daha büyük genişlik (5/6 oranı) */
    }
  }
</style>

<div class="mt-40">
  <div  id=confirmForm class=" relative flex flex-col justify-center overflow-hidden">
    <div  class="w-2/5 p-6 m-auto bg-white rounded-md shadow-md ring-2 ring-gray-800/50 lg:max-w-xl">
      <h1 class="text-3xl font-semibold text-center text-gray-700">Email Confirmation</h1>
      <button class="btn w-full mt-3 bg-white" (click)="confirmAccount()">Verify Me</button>
    </div>
  </div>
</div>
