.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

::ng-deep
  .mat-mdc-form-field-type-mat-select:not(.mat-form-field-disabled)
  .mat-mdc-text-field-wrapper {
  cursor: pointer;
  background-color: #030712;
  border: 1px solid #282a3a;
  border-radius: 10px;
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-floating-label,
.mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-floating-label--float-above {
  color: #9499a3 !important;
}

::ng-deep div.mat-mdc-select-panel {
  background-color: #030712 !important;
  color: #9499a3 !important;
  border: 1px solid #282a3a;
  border-radius: 10px;
}

::ng-deep .mat-mdc-option {
  color: white !important;
  font-weight: 100;
  text-align: center;
}

::ng-deep .mat-mdc-select {
  color: white !important;
  font-weight: 100;
}

::ng-deep .mat-mdc-select-arrow {
  color: white !important;
}

::ng-deep .mat-mdc-select-arrow svg {
  color: white !important;
}

::ng-deep .mdc-line-ripple::before,
.mdc-line-ripple::after {
  background-color: white !important;
  width: 0;
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-line-ripple::after {
  border-bottom-color: white !important;
  width: 0;
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-line-ripple::before {
  border-bottom-color: white !important;
  width: 0;
}

::ng-deep .mat-mdc-select-panel {
  background-color: #3b3b3b !important;
  color: white !important;
}
