<div class="border border-secondary p-10 rounded-xl">
  <div>
    <h1 class="text-2xl font-bold">Color Customization</h1>
    <p class="text-sm text-gray-500">Customize the color of the application.</p>
  </div>
  <form [formGroup]="colorForm">
    <div class="gap-5 mt-5 flex flex-col laptop:flex-row">
      <div class="laptop:w-1/2 h-52 flex flex-col justify-end items-center">
        <!-- set default color to input -->
        <div class="w-full flex justify-start">
          <p>Light Theme</p>
        </div>
        <div class="flex w-full h-full" *ngFor="let color of color">
          <div class="w-full h-full relative flex justify-center">
            <input
              type="color"
              class="w-full h-full absolute top-0 bottom-0 left-0 right-0"
              formControlName="lightColor1"
              [(ngModel)]="color.lightColor1"
            />
            <input
              type="text"
              class="absolute bottom-5 input input-bordered w-24"
              [ngClass]=""
              formControlName="lightColor1"
              [(ngModel)]="color.lightColor1"
            />
          </div>
          <div class="w-full h-full relative flex justify-center">
            <input
              type="color"
              class="w-full h-full absolute top-0 bottom-0 left-0 right-0"
              formControlName="lightColor2"
              [(ngModel)]="color.lightColor2"
            />
            <input
              type="text"
              class="absolute bottom-5 input input-bordered w-24"
              [ngClass]=""
              formControlName="lightColor2"
              [(ngModel)]="color.lightColor2"
            />
          </div>
          <div class="w-full h-full relative flex justify-center">
            <input
              type="color"
              class="w-full h-full absolute top-0 bottom-0 left-0 right-0"
              formControlName="lightColor3"
              [(ngModel)]="color.lightColor3"
            />
            <input
              type="text"
              class="absolute bottom-5 input input-bordered w-24"
              [ngClass]=""
              formControlName="lightColor3"
              [(ngModel)]="color.lightColor3"
            />
          </div>
          <div class="w-full h-full relative flex justify-center">
            <input
              type="color"
              class="w-full h-full absolute top-0 bottom-0 left-0 right-0"
              formControlName="lightColor4"
              [(ngModel)]="color.lightColor4"
            />
            <input
              type="text"
              class="absolute bottom-5 input input-bordered w-24"
              [ngClass]=""
              formControlName="lightColor4"
              [(ngModel)]="color.lightColor4"
            />
          </div>
        </div>
      </div>
      <div class="laptop:w-1/2 h-52 flex flex-col justify-end items-center">
        <!-- set default color to input -->
        <div class="w-full flex justify-start">
          <p>Dark Theme</p>
        </div>
        <div class="flex w-full h-full" *ngFor="let color of color">
          <div class="w-full h-full relative flex justify-center">
            <input
              type="color"
              class="w-full h-full absolute top-0 bottom-0 left-0 right-0"
              formControlName="darkColor1"
              [(ngModel)]="color.darkColor1"
            />
            <input
              type="text"
              class="absolute bottom-5 input input-bordered w-24"
              [ngClass]=""
              formControlName="darkColor1"
              [(ngModel)]="color.darkColor1"
            />
          </div>
          <div class="w-full h-full relative flex justify-center">
            <input
              type="color"
              class="w-full h-full absolute top-0 bottom-0 left-0 right-0"
              formControlName="darkColor2"
              [(ngModel)]="color.darkColor2"
            />
            <input
              type="text"
              class="absolute bottom-5 input input-bordered w-24"
              [ngClass]=""
              formControlName="darkColor2"
              [(ngModel)]="color.darkColor2"
            />
          </div>
          <div class="w-full h-full relative flex justify-center">
            <input
              type="color"
              class="w-full h-full absolute top-0 bottom-0 left-0 right-0"
              formControlName="darkColor3"
              [(ngModel)]="color.darkColor3"
            />
            <input
              type="text"
              class="absolute bottom-5 input input-bordered w-24"
              [ngClass]=""
              formControlName="darkColor3"
              [(ngModel)]="color.darkColor3"
            />
          </div>
          <div class="w-full h-full relative flex justify-center">
            <input
              type="color"
              class="w-full h-full absolute top-0 bottom-0 left-0 right-0"
              formControlName="darkColor4"
              [(ngModel)]="color.darkColor4"
            />
            <input
              type="text"
              class="absolute bottom-5 input input-bordered w-24"
              [ngClass]=""
              formControlName="darkColor4"
              [(ngModel)]="color.darkColor4"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="w-full flex justify-end mt-5">
      <button (click)="onSubmit()" class="btn bg-primary border-secondary">
        <p class="text-white">Save</p>
      </button>
    </div>
  </form>
</div>
