<div class="w-full min-h-screen flex justify-center flex-col p-10">
  <div class="bg-slate-800 h-full flex flex-col p-5">
    <div class="w-full justify-start">
      <h1
        class="border-b mx-5 flex justify-between text-slate-300 border-slate-300 pb-2 text-3xl font-bold"
      >
        Socket
        <div class="mb-2 z-40">
          <app-connector-modal></app-connector-modal>
        </div>
      </h1>
    </div>
    <div class="flex mt-[10vh] gap-x-5 justify-between px-5 w-full h-full">
      <div class="z-40 min-w-[300px]">
        <app-socket-form></app-socket-form>
      </div>
      <div class="max-w-[45vw] w-full h-[50vh]">
        <!-- <app-map></app-map> -->
      </div>
    </div>
  </div>
</div>
