<div class="">
  <div class="flex">
    <button class="form-group" (click)="onClick()">
      <input
        type="text"
        aria-describedby="search-text"
        placeholder="Search"
        [(ngModel)]="searchText"
        class="bg-white w-52 h-10 p-2 pr-0 rounded-l-xl outline-none"
      />
    </button>
    <select
      class="bg-white w-24 h-10 p-2 rounded-r-xl border"
      (change)="onOptionSelect($event)"
    >
      <option value="station">Station</option>
      <option value="location">Location</option>
    </select>
  </div>
  <!-- is is clicked h-10 else h-20 -->
  <div
    class="mt-2 pt-2 rounded-lg duration-500 ease-in-out overflow-y-auto"
    [ngClass]="{
      'h-20 bg-transparent overflow-hidden': !isClicked,
      'h-[400px] bg-white overflow-visible': isClicked
    }"
  >
    <ul class="list-group cursor-pointer list-group-flush" *ngIf="isClicked">
      <li
        class="list-group-item text-black p-3 pb-0 border-b"
        *ngFor="let c of stations | appFilter : searchText"
        value="{{ c.id }}"
        (click)="onSelect(c)"
      >
        {{ c.name }}
      </li>
    </ul>
    <button
      class="w-full text-black items-end absolute bottom-0 cursor-pointer justify-center flex text-center"
      [ngClass]="{ hidden: !isClicked }"
      (click)="closeSearch()"
    >
      kapat
    </button>
  </div>
</div>
