<div class="flex justify-center items-center space-x-2">
  <div class="relative flex items-center">
    <input
      type="text"
      aria-describedby="search-text"
      placeholder="Search"
      [(ngModel)]="searchText"
      class="bg-white w-52 h-10 p-2 pr-10 rounded-l-xl outline-none"
      (click)="onClick()"
    />
    <button class="absolute right-0 top-0 h-full bg-white w-10 flex items-center justify-center">
      <img src="assets/search.svg" alt="search" class="w-7 h-7 object-cover" />
    </button>
  </div>
  
  <button class="bg-white w-10 h-10 rounded-full" (click)="openFilter()">
    <i class="fas fa-filter text-black"></i>
  </button>
</div>

<div
  class="mt-2 pt-2 rounded-lg duration-500 ease-in-out overflow-y-auto scroll"
  [ngClass]="{
    'h-20 bg-transparent z- overflow-hidden': !isClicked || !isFilterClicked,
    'min-h-[400px] max-h-[400px] h-full bg-white overflow-scroll': isClicked || isFilterClicked,
  }"
>
  <ul class="list-group cursor-pointer list-group-flush " *ngIf="isClicked">
    <li
      class="list-group-item text-black p-3 pb-0 border-b"
      *ngFor="let c of stations | appFilter : searchText"
      value="{{ c.id }}"
      (click)="onSelectStation(c)"
      (keyup)="onSelectStation(c)"
      tabindex="0"
    >
      {{ c.name }}
    </li>
  </ul>
  
  <!-- Filter penceresi içeriği -->
  <mat-accordion *ngIf="isFilterClicked">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header class="accordion-header">
        <mat-panel-title>
          Connectors
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description>
        <ul>
          <li
            *ngFor="let connector of connectors"
            (click)="onSelectConnector(connector)"
            (keyup.enter)="onSelectConnector(connector)"
            tabindex="0"
          >
            <img class="w-16 h-18" [src]="connector.imageData" alt="" />
            {{ connector.type }}
          </li>
        </ul>
      </mat-panel-description>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header class="accordion-header">
        <mat-panel-title>
          Facilities
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description>
        <ul>
          <li 
            *ngFor="let facility of facilities"
            (click)="onSelectFacility(facility)"
            (keyup.enter)="onSelectFacility(facility)"
            tabindex="0"
          >
           <i [ngClass]="facility.icon"></i>
            {{ facility.type }}
          </li>
        </ul>
      </mat-panel-description>
    </mat-expansion-panel>
  </mat-accordion>
  
  <!-- Last Visited Stations Listesi -->
  <ul
    class="list-group cursor-pointer list-group-flush"
    *ngIf="isFilterClicked"
  >
    <li
      class="list-group-item text-black p-3 pb-0 border-b flex justify-between"
      *ngFor="let lvs of lastVisitedStations2 | appFilter : searchText | slice : 0 : 5"
    >
      <p
        (click)="onSelectConnector(lvs.station)"
        (keyup)="onSelectConnector(lvs.station)"
        tabindex="0"
      >
        {{ lvs.station.name | titlecase }}
      </p>
      <button
        class="text-red-500 hover:text-red-700"
        (click)="removeLastVisitedStations(lvs.id)"
      >
        Remove
      </button>
    </li>
  </ul>
  
  <!-- Kapatma Butonu -->
  <button
    class="w-full text-black items-end absolute bottom-0 cursor-pointer justify-center flex text-center"
    [ngClass]="{ hidden: !isClicked && !isFilterClicked }"
    (click)="closeSearch()"
  >
    <i class="fas fa-times-circle text-red-500 text-2xl"></i>
  </button>
</div>